<header-top></header-top>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form name="emailPasswordForm" method="POST" ng-submit="submitForm()">
                <div class="form-group">
                    <input class="form-control input-sm center-block" type="text" id="firstName" name="firstName" placeholder="First name" ng-model="user.firstName"/>
                    <br/>
                    <input class="form-control input-sm center-block" type="text" id="lastName" name="lastName" placeholder="Last name" ng-model="user.lastName"/>
                    <br/>
                    <input class="form-control input-sm center-block" type="text" id="email" name="email" placeholder="Email" ng-model="user.email"/>
                    <br/>
                    <input class="form-control input-sm center-block" type="password" id="password" name="password" placeholder="Password" ng-model="user.password"/>
                    <br/>
                    <hr>
                    <input class="btn btn-default btn-lg pull-right" type="submit" />
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>        
</div>