<header-top></header-top>
<div class="container-fluid">
    <form name="nameMajorForm" ng-submit="submitForm()">
    <div class="form-group">
        <div class="row">
            <div class="col-md-8">
                <span class="h4">Select Semester</span>
                <select ng-model="semester.season">
                    <option value="fall">Fall</option>
                    <option value="spring">Spring</option>
                </select>
                <select ng-model="semester.year">
                    <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                </select>
                <input type="button" class="btn btn-default btn-sm" id="submitTime" ng-click="updateSemesterCourses(semester.season,semester.year)" value="Update" />
                <div class="row">
                    <div class="col-md-12">
                        <br />
                        <input class="form-control input-sm" type="text" id="classSearch" name="classSearch" placeholder="Search classes" ng-model="current.classSearch" ng-change="updateClassSearch()" autocomplete="off"/>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="h4">Search Results</span>
                        <div class="pre-scrollable" style="height: 280px;">
                        <table class="table">
                            <tbody>
                                <tr ng-repeat="row in classResult">
                                    <td ng-repeat="class in row">
                                        <input type="button" class="btn btn-default btn-sm" id="{{class}}Searched" ng-click="addClassToSelected(class)" value="Add {{class.courseName}}" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <p class="h4">Classes for {{season}} {{year}}</p>
                <table class="table">
                    <tbody>
                        <tr ng-repeat="class in chosenCourses">
                            <td ng-if="class.course.season == season && class.course.year == year">
                                {{class.course.courseName}}  <input type="button" class="btn btn-sm btn-danger" id="{{class}}Current" ng-click="removeFromCurrentClasses(class.course)" value="Remove" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <table class="table">
                    <tbody>
                        <tr ng-repeat="course in selectedClasses">
                            <td>
                                <input type="button" class="btn btn-sm btn-danger" id="{{course}}selected" ng-click="removeClass(course) " value="Remove {{course.courseName}}" />
                            </td>
                            <td>
                                <span style="color: red;" ng-if="course.noReason">*Required: </span><span>Why?</span>
                                <select ng-model="course.reason">
                                    <option ng-repeat="reason in reasons" value="{{reason}}">{{reason}}</option>
                                </select>
                            </td>
                            <td>
                                <input type="button" class="btn btn-primary btn-sm" id="{{course}}selected" ng-click="addClassFinal(course)" value="Add {{course.courseName}}" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <hr>
                <button class="btn btn-default btn-lg pull-right" type="submit">Next</button>
            </div>
        </div>
        </div>
    </form>
</div>