<header-top></header-top>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form name="emailPasswordForm" method="POST" ng-submit="submitForm()">
                <div class="form-group">
                    <span style="color: red;" ng-if="invalidFirstName">*Invalid first name</span>
                    <input class="form-control input-sm center-block" type="text" id="firstName" name="firstName" placeholder="First name" ng-model="user.firstName"/>
                    <br/>
                    <span style="color: red;" ng-if="invalidLastName">*Invalid last name</span>
                    <input class="form-control input-sm center-block" type="text" id="lastName" name="lastName" placeholder="Last name" ng-model="user.lastName"/>
                    <br/>
                    <span style="color: red;" ng-if="invalidEmail">*Invalid Macalester email: must be name@macalester.edu</span>
                    <span style="color: red;" ng-if="emailTaken">*Invalid Macalester email: account already created</span>
                    <input class="form-control input-sm center-block" type="text" id="email" name="email" placeholder="Macalester email" ng-model="user.email"/>
                    <br/>
                    <span style="color: red;" ng-if="invalidPassword">*Invalid password: must be at least 8 characters</span>
                    <input class="form-control input-sm center-block" type="password" id="password" name="password" placeholder="Password" ng-model="user.password"/>
                    <br/>
                    <span style="color: red;" ng-if="invalidPassword2">*Passwords must match</span>
                    <input class="form-control input-sm center-block" type="password" id="password2" name="password2" placeholder="Password again" ng-model="user.password2"/>
                    <br/>
                    <hr>
                    <input class="btn btn-default btn-lg pull-right" type="submit" />
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>        
</div>